language: julia
os:
    - osx
    - linux
julia:
    - 0.7
    - nightly
notifications:
    email: false
branches:
    only:
        - master

script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia --project --check-bounds=yes -e 'import Pkg; Pkg.build(); Pkg.test(; coverage=true)'

after_success:
    - julia -e 'cd(Pkg.dir("GZip")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'

