language: julia
os:
    - osx
    - linux
julia:
    - 0.3
    - 0.4
    - 0.5
    - nightly
notifications:
    email: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'Pkg.clone(pwd()); Pkg.build("GZip"); Pkg.test("GZip"; coverage=true)'
    - julia -e 'cd(Pkg.dir("GZip")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'

